<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>飲料霸 - 關於我們</title>
    <!-- Bootstrap -->
    <!-- 最新編譯和最佳化的 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--jQuery搜尋列CSS套用-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <!-- 選擇性佈景主題 -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/newstyle.css' %}" />
    <!--<link rel="stylesheet" href="CSS/style.css" />-->
</head>

<body>
    <div class="container">
        <div class="row">
            <nav class="navbar transparent navbar-fixed-top" role="navigation">
                <nav class="navbar-inner">
                    <div class="container">
                        <div class="col-lg-12">
                            <div class="col-sm-5"></div>

                            <div class="col-sm-2">
                                <p class="text-center">
                                    <a class="navbar-brand" href="http://127.0.0.1:8000/polls/">
                                        <img src="{% static 'polls/img/logo.png' %}" width="110%">
                                    </a>
                                </p>
                            </div>

                            <div class="col-sm-5">

                            </div>

                        </div>
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                            <ul class="nav navbar-nav">
                                <li><a href="http://127.0.0.1:8000/polls">首頁</a></li>
                                <li><a href="http://127.0.0.1:8000/polls/about">關於我們</a></li>
                                <li><a href="http://127.0.0.1:8000/polls/3/rankboard/">人氣排行</a></li>
                            </ul>
                        </div>
                        <div class="collapse navbar-collapse" id="example-nav-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="http://127.0.0.1:8000/polls/find/">找飲料</a></li>
                                <li><a href="http://127.0.0.1:8000/polls/brand/">品牌總覽</a></li>
                                <li><a href="http://127.0.0.1:8000/polls/brand/#middle">價格大比拚</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </nav>
        </div>

        <div class="row">
            <br><br>
        </div>


        <div class="row text-center">
            <br><br>
            <h2 class="text3-title">品牌推薦</h2>
            <br>
            <iframe id="frame" src="https://docs.google.com/forms/d/e/1FAIpQLSeHpQPYtFrM8zLfkXJddjUpJxSO0ZwKq5xUpb2v7HII1jg_Ug/viewform?embedded=true" width="760" height="600" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
        </div>

        <div class="row">
            <div class="col-md-12" style="background-color:orange">
                <br><br>
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://facebook.com/hannah.chen.5688" target="_blank">
                            <img src="https://instagram.ftpe5-1.fna.fbcdn.net/t51.2885-19/s320x320/15802340_1621387981500547_8964887045122031616_a.jpg" alt="成員大頭貼" class="memberimg">
                        </a>
                        <h2 class="membertext">陳怡涵</h2>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100001411811825" target="_blank">
                            <img src="https://instagram.ftpe5-1.fna.fbcdn.net/t51.2885-19/s320x320/14718288_1615637672065449_4442935718280429568_a.jpg" alt="成員大頭貼" class="memberimg">
                        </a>
                        <h2 class="membertext">游蕙</h2>
                    </li>
                    <li>
                        <a href="https://facebook.com/profile.php?id=100001555331373" target="_blank">
                            <img src="https://scontent-tpe1-1.cdninstagram.com/t51.2885-19/s320x320/14591115_374326032929365_8964242589574234112_n.jpg" alt="成員大頭貼" class="memberimg">
                        </a>
                        <h2 class="membertext">劉映秀</h2>
                    </li>
                </ul>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-12 text-center" id="bottom">
                <br><br><br><br>
                <h4><strong>Team01</strong>
                </h4>
                <p>台灣科技大學
                    <br>
                    <p>網頁設計</p>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://github.com/NTUST/106-team01" target="blank">team01 github</a>
                        </li>
                        <li>
                            <a href="https://github.com/NTUST" target="blank">NTUST github</a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Your Website 2017</p> <br><br><br>
            </div>

        </div>
    </div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js " integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa " crossorigin="anonymous "></script>

</body>

</html>