<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>飲料吧 - 首頁</title>
    <!-- Bootstrap -->
    <!-- 最新編譯和最佳化的 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--jQuery搜尋列CSS套用-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <!-- 選擇性佈景主題 -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/newstyle.css' %}" />
    <!--<link rel="stylesheet" href="CSS/style.css" />-->
</head>

<body>
    <div class="container">
        <div class="row">
            <nav class="navbar transparent navbar-fixed-top" role="navigation">
                <nav class="navbar-inner">
                    <div class="container">
                        <div class="col-lg-12">
                            <div class="col-sm-5"></div>

                            <div class="col-sm-2">

                                <p class="text-center">
                                    <a class="navbar-brand" href="http://127.0.0.1:8000/polls/">
                                        <img src="{% static 'polls/img/logo.png' %}" width="115%">
                                    </a>
                                </p>
                            </div>

                            <div class="col-sm-5">

                            </div>

                        </div>
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                            <ul class="nav navbar-nav">
                                <li><a href="http://127.0.0.1:8000/polls">首頁</a></li>
                                <li><a href="http://127.0.0.1:8000/polls/about">關於我們</a></li>
                                <li><a href="http://127.0.0.1:8000/polls/3/rankboard/">人氣排行</a></li>
                            </ul>
                        </div>
                        <div class="collapse navbar-collapse" id="example-nav-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="http://127.0.0.1:8000/polls/find/">找飲料</a></li>
                                <li><a href="http://127.0.0.1:8000/polls/brand/">品牌總覽</a></li>
                                <li><a href="http://127.0.0.1:8000/polls/brand/#middle">價格大比拚</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </nav>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <img src="{% static 'polls/img/bk_main.png' %}" class="image">
                <!--comment:隱藏程式碼-->
                <div class="up col-sm-8">
                    <h1><strong>歡迎來到飲料霸</strong></h1>

                    <h3>現在這個時代，不只科技在進步， 就連飲料也是，<br> 飲料店越開越多， 也不斷有新口味的飲料上市。<br> 而我們的目的，把台灣特色飲品發揚光大，<br> 為新飲料店品牌提供平台曝光， <br>也對已經知名的飲料店做整理和分類， <br>方便大眾瀏覽飲料資訊。<br>
                    </h3>
                </div>
                <div class=" col-sm-4">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <div class="col-sm-4" id="nomargin">
                    <a href="http://127.0.0.1:8000/polls/3/rankboard/">
                        <img src="{% static 'polls/img/bk10.png' %}" alt="介紹圖" class="image">
                        <div class="text1-title">
                            <h1 class="text-center"><strong>人氣排行</strong></h1>
                            <hr class="greenhr">
                        </div>
                        <div class="overlay">
                            <div class="text1-body">
                                <!--<h1 class="text-center">人氣排行</h1>
                            <hr class="greenhr">-->
                                <h4>蒐集台灣最夯的飲料店名單</h4>
                                <h4>網友票選排行榜</h4>
                                <h4>讓你最快喝到最有特色的手搖杯</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4" id="nomargin">
                    <a href="http://127.0.0.1:8000/polls/3/rankboard#vote">
                        <img src="{% static 'polls/img/bk3.png' %}" alt="介紹圖" class="image">
                        <div class="text1-title">
                            <h1 class="text-center"><strong>投票區</strong></h1>
                            <hr class="greenhr">
                        </div>
                        <div class="overlay">
                            <div class="text1-body">
                                <h4>為你最喜歡的飲料店投票</h4>
                                <h4>讓更多人喝到你推薦的飲料</h4>
                                <br>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4" id="nomargin">
                    <a href="http://127.0.0.1:8000/polls/find/">
                        <img src="{% static 'polls/img/bk7.png' %}" alt="介紹圖" class="image">
                        <div class="text1-title">
                            <h1 class="text-center"><strong>懶人找飲料</strong></h1>
                            <hr class="greenhr">
                        </div>
                        <div class="overlay">
                            <div class="text1-body">
                                <h4>多種分類</h4>
                                <h4>讓你快速尋找飲料</h4>
                                <br>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <div class="col-sm-6" id="nomargin">
                    <a href="http://127.0.0.1:8000/polls/brand#middle">
                        <img src="{% static 'polls/img/bk9.png' %}" class="image">
                        <div class="text4-title">
                            <p class="text-center"><strong>價格大比拚</strong></p>
                            <!--<hr class="greenhr">-->
                        </div>
                        <!--<div class="overlay">
                        <div class="text2-body">
                            <h4>為你最喜歡的飲料店投票</h4>
                            <h4>讓更多人喝到你推薦的飲料</h4>
                            <br>
                        </div>
                    </div>-->
                    </a>
                </div>
                <div class="col-sm-6" id="nomargin">
                    <a href="http://127.0.0.1:8000/polls/brand/">
                        <img src="{% static 'polls/img/bk4.png' %}" class="image">
                        <div class="text4-title">
                            <p class="text-center"><strong>品牌總覽</strong></p>
                            <!--<hr class="greenhr">-->
                        </div>
                        <!--<div class="overlay">
                        <div class="text2-body">
                            <h4>為你最喜歡的飲料店投票</h4>
                            <h4>讓更多人喝到你推薦的飲料</h4>
                            <br>
                        </div>
                    </div>-->
                    </a>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="container">
                <br><br><br><br><br>
                <h1>手搖杯相關文章</h1>
                <br><br><br><br><br>
            </div>
        </div>-->

        <!--頁尾連結-->
        <div class="row">
            <div class="col-sm-12 text-center" id="bottom">
                <br><br><br><br>
                <h4><strong>Team01</strong>
                </h4>
                <p>台灣科技大學
                    <br>
                    <p>網頁設計</p>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://github.com/NTUST/106-team01" target="blank">team01 github</a>
                        </li>
                        <li>
                            <a href="https://github.com/NTUST" target="blank">NTUST github</a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Your Website 2017</p> <br><br><br>
            </div>
        </div>
    </div>
    <script src="{% static 'polls/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
    <!--jQuery搜尋列JS套用-->
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js " integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa " crossorigin="anonymous "></script>

</body>

</html>