<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>飲料吧 - 飲料店資訊</title>
    <!-- Bootstrap -->
    <!-- 最新編譯和最佳化的 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!--jQuery搜尋列CSS套用-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <!-- 選擇性佈景主題 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--導覽列-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-default">收藏</button>
            </div>
            <div class="col-md-10">
                <!--標籤-->
                <ul class="breadcrumb">
                    <li>
                        <a href="#">最新活動</a>
                    </li>
                    <li>
                        <a href="#">MENU</a>
                    </li>
                    <li>
                        <a href="#">評價</a>
                    </li>
                    <li>
                        <a href="#">全台分店</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <!--熱銷飲料-->

            </div>
            <div class="col-md-10">
                <!--最新活動-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <!--網友投票排名-->
            </div>
            <div class="col-md-10">
                <!--MENU-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <!--站內搜尋/飲料搭配-->
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <!--網友評價&留言板-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--全台分店-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--頁尾連結-->
            </div>
        </div>
    </div>
    <!--jQuery搜尋列JS套用-->
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <!-- jQuery (Bootstrap 所有外掛均需要使用) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新編譯和最佳化的 JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>

</html>