<!--芭樂芭茶飲-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>飲料霸 - 芭樂芭茶飲</title>
    <!-- Bootstrap -->
    <!-- 最新編譯和最佳化的 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--jQuery搜尋列CSS套用-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <!-- 連接自己做的CSS-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />
    <!--<link rel="stylesheet" href="CSS/style.css" />-->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/stylish-portfolio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/font-awesome/css/font-awesome.min.css' %}">

</head>

<body>
    <div class="container-fluid">
        <div class="col-md-12">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="http://127.0.0.1:8000/polls/" id="mybrand">飲料霸</a>
                    </div>

                    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-2 ">
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li><a href="#search">搜尋</a></li>-->
                            <!--<li><a href="#hot">熱銷飲料</a></li>-->
                            <li><a href="#new">最新活動</a></li>
                            <li><a href="#menu">MENU</a></li>
                            <li><a href="#branch">全台分店</a></li>
                            <!--<li><a href="http://127.0.0.1:8000/polls/3/about/">關於</a></li>-->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row" id="hot">
            <!--熱銷飲料-->
            <br>
            <img src="{% static 'polls/img/store5.png' %}" alt="英雄圖" width="100%">
        </div>
        <div class="row" id="new" style="background-color:antiquewhite">
            <br><br><br><br><br><br><br><br><br>
            <div class="container">
                <h1 class="text-center"><strong>最新活動資訊</strong></h1>
                <!--最新活動-->
                <a href="http://www.diagon-alley.com.tw/images/old-news/ad_201701-zoom.jpg" target="_Blank"><img alt="1" src="http://www.diagon-alley.com.tw/images/old-news/ad_201701.jpg"></a>
                <a href="http://www.diagon-alley.com.tw/images/old-news/ad_201702-zoom.jpg" target="_Blank"><img alt="2" src="http://www.diagon-alley.com.tw/images/old-news/ad_201702.jpg"></a>
                <a href="http://www.diagon-alley.com.tw/images/old-news/ad_201703-zoom.jpg" target="_Blank"><img alt="3" src="http://www.diagon-alley.com.tw/images/old-news/ad_201703.jpg"></a>
                <a href="http://www.diagon-alley.com.tw/images/old-news/ad_201704-zoom.jpg" target="_Blank"><img alt="4" src="http://www.diagon-alley.com.tw/images/old-news/ad_201704.jpg"></a>
            </div>
            <br><br><br><br><br><br><br><br><br>
        </div>
        <div class="container">
            <div class="row" id="menu">
                <!--MENU-->
                <br>
                <br>
                <br>
                <h1 class="text-center"><strong>MENU</strong></h1>
                <img src="{% static 'polls/img/menu5.png' %}" alt="menu" width="100%">
            </div>
            <br><br>
        </div>

        <div class="row" id="branch" style="background-color:antiquewhite">
            <br><br>
            <h1 class="text-center"><strong>北部分店</strong></h1>
            <div class="row">
                <div class="col-sm-3">
                    <h4>桃園總店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>03-4563558</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>桃園縣中壢市大仁三街2號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td>11:00-22:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>台北士林店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>02 2882 8620</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>台北市士林區基河路108號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>台北西門店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>02 2381 3001</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>台北市西寧南路50巷9號(峨嵋停車場路口對面)</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>板橋府中店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>02 2961 6988</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>新北市板橋區重慶路13巷1號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>新竹竹北店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>0903909093</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>竹北市三民路395號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>桃園南崁店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>03-3527868</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>桃園縣蘆竹鄉南崁路290號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>桃園藝文特區</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>03-3259086</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>桃園市桃園區南平路400號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>桃園站前店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>03 3375868</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>330 Taoyüan 桃園市桃園區中正路40號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>台北土城店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>0222647588</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>新北市土城區裕民路87號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td>10:00~22:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>台北淡水店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>0226217036</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>新北市淡水區英專路77號1樓</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>桃園八德店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>03-3665231</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>桃園市八德區廣福路111號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td>12:00~21:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>中和永安店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>02-29253898</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>新北市中和區中和路400巷13號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>台北新莊店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>0229968599</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>新北市新莊區幸福路43號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>台北東區店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>0227761680</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>台北市大安路一段22號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>樹林後站店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>02-2687-0608</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>新北市樹林區後站街6巷1號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>永和樂華店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>0286608166</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>新北市永和區保平路31號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>台北中山晴光旗艦店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>0225987898</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>台北市中山區雙城街15-5號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>板橋中山店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>02 29615558</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>新北市板橋區中山路二段195號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h1 class="text-center"><strong>中部分店</strong></h1>
            <div class="row">
                <div class="col-sm-3">
                    <h4>台中逢甲店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>0424526621</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>台中市西屯區福星路230號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-3">
                    <h4>台中一中店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>04-2223-1318</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>台中市北區育才南街23號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h1 class="text-center"><strong>南部分店</strong></h1>
            <div class="row">
                <div class="col-sm-3">
                    <h4>台南成大店</h4>
                    <table>
                        <tbody>
                            <tr>
                                <th>電&emsp;&emsp;話 </th>
                                <td>06-2372-868</td>
                            </tr>
                            <tr>
                                <th>地&emsp;&emsp;址 </th>
                                <td>台南市東區育樂街24號</td>
                            </tr>
                            <tr>
                                <th>營業時間</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer>
            <div class="container" id="contact">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <h4><strong>Team01</strong>
                        </h4>
                        <p>台灣科技大學
                            <br>網頁設計</p>
                        <br>
                        <ul class="list-inline">
                            <li>
                                <a href="http://www.guava-juice.com/" class="btn" target="_blank">芭樂芭官網</a>
                            </li>
                            <li>
                                <a href="https://github.com/NTUST/106-team01" target="blank">team01 github</a>
                            </li>
                            <li>
                                <a href="https://github.com/NTUST" target="blank">NTUST github</a>
                            </li>
                        </ul>
                        <hr class="small">
                        <p class="text-muted">Copyright &copy; Your Website 2017</p>
                    </div>
                </div>
            </div>
            <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
        </footer>
    </div>

    <!-- jQuery -->
    <script src="{% static 'polls/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
    <!--jQuery搜尋列JS套用-->
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js " integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa " crossorigin="anonymous "></script>

</body>

</html>