.navbar {
    font-family: 微軟正黑體;
}

#mybrand {
    color: maroon;
}

.img-responsive {
    max-width: 300px;
    max-height: 300px;
}

#myh1 {
    font-weight: bold;
}

a.navbar-brand {
    font-size: 40px;
}

.nav {
    font-size: 20px;
}

.bottom {
    font-family: fantasy;
    width: 100%;
    float: left;
    padding: 5px;
    border: 10px #F8F8FF;
    text-align: center;
    background-color: #F0F8FF;
    color: #6495ED;
    background-color: #F0E68C;
}

.pull-right {
    color: black;
    font-size: 35px;
    font-weight: bold;
    background-color: beige;
}

#myimg {
    height: 70%;
    width: 70%;
}

#memberimg {
    border-radius: 100%;
    height: 70%;
    width: 70%;
}

.btn {
    font-family: 微軟正黑體;
    font-weight: bold;
}

div.jumbotron {
    font-family: 微軟正黑體;
    font-weight: bold;
    color: maroon;
    background-color: #F0E68C;
}

nav.navbar {
    background-color: #F0E68C;
    border: 0px;
}

.col-md-9 {
    font-family: 微軟正黑體;
    color: maroon;
    font-weight: bold;
}

div.thumbnail {
    background: #F0E68C;
}