<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--jQuery搜尋列CSS套用-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">

    <title>分類的頁面</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#show").click(function() {
                $(".div2").fadeIn("slow");
            });
            $("#hide").click(function() {
                $(".div2").hide("slow");
            });
        });



        // 不衝突
        //$.noConflict();
        jQuery(document).ready(function() {
            jQuery(".aaa").click(function() {
                jQuery("p").text("jQuery is still working!");
            });
        });
    </script>

    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/multi.css' %}" />

</head>


<body>
    {% for value, text in all_drinks.field.choices %} {{text}} {% endfor %}
    <div class="container">
        <button id="show">show</button>
        <button id="hide">hide</button><br><br>
        <div class="row">
            <div class="col-sm-4">


                <div class="div2" style="width:300px;height:300px;display:none;background-color:green;">
                    <h3>是{{cate.0}}的飲料有</h3>
                    {% for i in hot %}
                    <h4>{{i.0}} from {{i.1}} is {{cate.0}}</h4>
                    {% endfor %}
                </div><br>
            </div>

            <div class="col-sm-4">
                <div class="div2" style="width:300px;height:300px;display:none;background-color:green;">
                    <h3>是{{cate.1}},{{cate.2}},{{cate.3}},{{cate.4}}的飲料有</h3>
                    {% for i in tea %}
                    <h4>{{i.0}} from {{i.1}}</h3>
                        {% endfor %}
                </div><br>

            </div>
            <div class="col-sm-4">
                <div class="div2" style="width:300px;height:300px;display:none;background-color:green;">
                    <h3>是{{cate.5}}的飲料有</h3>
                    {% for i in matcha %}
                    <h4>{{i.0}} from {{i.1}}</h4>
                    {% endfor %}
                </div><br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="div2" style="width:300px;height:300px;display:none;background-color:green;">
                    <h3>是{{cate.6}}的飲料有</h3>
                    {% for i in chew %}
                    <h4>{{i.0}} from {{i.1}}</h4>
                    {% endfor %}
                </div><br>
            </div>

            <div class="col-sm-4">
                <div class="div2" style="width:300px;height:300px;display:none;background-color:green;">
                    <h3>是{{cate.7}},{{cate.8}},{{cate.9}}的飲料有</h3>
                    {% for i in juice %}
                    <h4>{{i.0}} from {{i.1}}</h4>
                    {% endfor %}
                </div><br>
            </div>
            <div class="col-sm-4">
                <div class="div2" style="width:300px;height:300px;display:none;background-color:green;">
                    <h3>是{{cate.10}},{{cate.11}}的飲料有</h3>
                    {% for i in milk_latte %}
                    <h4>{{i.0}} from {{i.1}}</h4>
                    {% endfor %}
                </div><br>
            </div>
        </div>
    </div>
    </div>



</body>

</html>